

.multiselect-option.is-selected {
    background: #0d6efd !important;
}
.multiselect {
    background-color: #f8fafc !important;
}

.bg-red-300 {
    background-color: #ea868f;
}
.bg-green-300 {
    background-color: #75b798;
}
.bg-yellow-300 {
    background-color: #ffda6a;
}

@media screen and (max-width: 767.98px) {
    .table-mobile table {
        /*border: 0;*/
    }

    table caption {
        /*font-size: 1.3em;*/
    }

    .table-mobile table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .table-mobile table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .table-mobile table td {
        border-bottom: 1px solid #ddd;
        display: block;
        /*font-size: .8em;*/
        text-align: right;
    }

    .table-mobile table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        /*text-transform: uppercase;*/
    }

    .table-mobile table td:last-child {
        border-bottom: 0;
    }

}
